@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

.row {
  --bs-gutter-x: 0 !important;

}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
:root {
  --background-color: #a0a0a0fd;
  --background-color-clair: #B4B4B4;
  /* Couleur de fond par défaut */
  --text-color: #000;
  /* Couleur du texte par défaut */
  --ombrage-color: rgb(255, 255, 0);

}
.dark-mode {
  --background-color: #242424;
  --background-color-clair: #383838;
  --text-color: #ffffff;
  /* Couleur du texte pour le mode sombre */
  --ombrage-color: rgb(255, 255, 0);
}

.toggle-button {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border-radius: 30px;
  border: 2px solid #fff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.toggle-button:hover {
  background-color: rgb(255, 255, 0);
  color: #000000;
}

.toggle-button.dark-mode {
  background-color: rgb(255, 255, 0);
}




h3 {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  filter: drop-shadow(20px 20px 50px var(--ombrage-color));
}


.titre-h3 {
  filter: drop-shadow(20px 20px 50px var(--text-color));
}



.competences {
  height: 40rem;
  width: auto;
  padding-top: 10rem;
}

.scroll-to-top {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;

}



#image-de-competence{
  padding: 14rem;
}
#image-de-competence2{
  padding-top: 100px;
  padding-bottom: 100px;
}
#image-de-competence2 > img{
  
  height: 100px;
  width: auto;
}
#image-de-competence3{
  padding-top: 100px;
  padding-bottom: 100px;
}
#image-de-competence3 > img{
  height: 100px;
  width: auto;
}


#icone-skill {
  padding-top: 20rem;
}

#section-top {
  height: 100vh;
  background-color: #B4B4B4;
}



#sec-projets{
  margin:150px ;
}



.text-sur-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -0%);
  width: auto;
  text-align: center;
}

.img-avatar {
  width: 100%;
}


hr{
  color:rgb(255, 255, 0);
  border-width: 20px;
  margin: 150px;
}

#avatar{
  filter: drop-shadow(20px 20px 50px var(--ombrage-color));
}

.lol{
  height: 100vh;
}

#projets{
  background-color: var(--background-color-clair);
}


@media screen and (min-width: 769px) {
  #projets img {
    height: 300px;
  }
}