
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Poppins:wght@300;400;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Honk";

}

body{
  background-color: #61cfd7;
  background-image: url(./img/nuageblabla.jpg);
  background-position: center;
  background-size: cover;
}

#home {
  background-image: url(img/bureau.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  overflow: hidden;
}


#home .title {
  font-size: 3em;
  color: #fff;
  width: max-content;
  margin-left: 100px;
}

#home .title_name {
  font-size: 6em;
  color: #fff;
  font-weight: 500;
  margin-left: 100px;
}

#home .title_name span {
  font-weight: 900;
}

#home .title_subtext {
  font-size: 4em;
  color: #fff;
  width: max-content;
  margin-left: 100px;
  
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}


.scroll-to-top {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;

}

.competences {
  height: 40rem;
  width: auto;

}



#image-de-competence3{
  padding-top: 80px;
}
#image-de-competence3 > img{
  height: 100px;
  width: auto;
}

#image-presentation{
  background-image: url(./img/presentation-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
}

#fixedButton {
  position: fixed;
  left: 80px;
  bottom: 80px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: none; /* Masquer le bouton par défaut */
}

#fixedButton.visible {
  display: block; /* Afficher le bouton lorsqu'il est visible */
}
/* Styles pour les éléments avec la classe "card" */
.card {
  width: 300px; /* Largeur fixe de 300 pixels */
  padding: 20px; /* Remplissage intérieur de 20 pixels */
  border-radius: 20px; /* Coins arrondis avec un rayon de courbure de 20 pixels */
  border: 5px solid; /* Bordure solide de 5 pixels */
  border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1; /* Bordure avec un dégradé de couleurs allant de rouge à violet */
  animation: pulse 1s infinite alternate; /* Application de l'animation nommée "pulse" pendant 1 seconde, en boucle et alternativement */
}

/* Définition de l'animation nommée "pulse" */
@keyframes pulse {
  /* À 0% de progression de l'animation, les éléments sont à leur taille normale */
  0% {
    transform: scale(1);
  }
  /* À 100% de progression de l'animation, les éléments sont agrandis de 5% par rapport à leur taille normale */
  100% {
    transform: scale(1.05);
  }
}

.card-projet{
  width: 250px;
  height: 250px;
}